
form{
    padding: 60px;
    max-width: 400px;
    background-color:map-get($color, primary);
    margin: 0 auto;
}
    
form input{
    form textarea{
        margin-bottom: 15px;
        font-family: "Roboto", sans-serif;
        width: 100%;
        padding: 10px;
        box-sizing: border-box; 
        border: none; 
        color: #525c66; 
        font-size: 1em;
        resize: none;
    } 
}
    
form button{
    display: block;
    background-color:map-get($color, secondary);
    padding: 10px 45px 10px 45px;
    border: 0;
    font-size: 1em; 
    color: map-get($color, text-nav);
}

textarea{  
    resize: none;
}